.card {
  width: 92rem;
  height: 50rem;
  border-radius: 0.8rem;
  margin: 17rem auto;
  overflow: hidden;
  position: relative;

  &__sedans {
    background-color: $color-orange;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    &--content {
      display: grid;
      padding: 4.8rem;
      &-icon {
        margin-bottom: -1rem;
      }
      &-headline {
        margin-bottom: -1.5rem;
      }
      &-text {
        margin-right: 2rem;
      }
      &-btn {
        color: $color-orange;
        align-self: end;
      }
    }
  }
  &__suvs {
    position: absolute;
    background-color: $color-cyan;
    height: 100%;
    width: calc(92 / 3 * 2rem);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    top: 0;
    right: 0;
    border-radius: 0.8rem;

    &--content {
      display: grid;
      padding: 4.8rem;
      &-icon {
        margin-bottom: -1rem;
      }
      &-headline {
        margin-bottom: -1.5rem;
      }
      &-text {
        margin-right: 2rem;
      }
      &-btn {
        color: $color-orange;
        align-self: end;
      }
    }
  }
  &__luxury {
    position: absolute;
    background-color: $color-cyan-dark;
    height: 100%;
    width: calc(92 / 3 * 1rem);
    display: grid;
    top: 0;
    right: 0;
    border-radius: 0.8rem;

    &--content {
      display: grid;
      padding: 4.8rem;
      &-icon {
        margin-bottom: -1rem;
      }
      &-headline {
        margin-bottom: -1.5rem;
      }
      &-text {
        margin-right: 1.5rem;
      }
      &-btn {
        color: $color-orange;
        align-self: end;
      }
    }
  }
}
