.card {
  width: 92rem;
  height: 50rem;
  border-radius: 0.8rem;
  margin: 17rem auto;
  overflow: hidden;
  position: relative;

  @include respond(phone) {
    width: 32.7rem;
    height: 132.6rem;
    margin: 8.8rem auto;
  }

  &__sedans {
    background-color: $color-orange;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include respond(phone) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
    }

    &--content {
      display: grid;
      padding: 4.8rem 0 4.8rem 4.8rem;
      &-icon {
        margin-bottom: -1rem;

        @include respond(phone) {
          margin-bottom: 1.5rem;
        }
      }
      &-headline {
        margin-bottom: -1.5rem;

        @include respond(phone) {
          margin-bottom: 1.5rem;
        }
      }

      &-btn {
        color: $color-orange;
        align-self: end;
      }
    }
  }
  &__suvs {
    position: absolute;
    background-color: $color-cyan;
    height: 100%;
    width: calc(92 / 3 * 2rem);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    top: 0;
    right: 0;
    border-radius: 0.8rem;

    @include respond(phone) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      width: 100%;
      height: calc(132.6 / 3 * 2rem);
      top: calc(100% / 3);
    }

    &--content {
      display: grid;
      padding: 4.8rem 0 4.8rem 4.8rem;

      &-icon {
        margin-bottom: -1rem;

        @include respond(phone) {
          margin-bottom: 1.5rem;
        }
      }
      &-headline {
        margin-bottom: -1.5rem;

        @include respond(phone) {
          margin-bottom: 1.5rem;
        }
      }

      &-btn {
        color: $color-cyan;
        align-self: end;
      }
    }
  }
  &__luxury {
    position: absolute;
    background-color: $color-cyan-dark;
    height: 100%;
    width: calc(92 / 3 * 1rem);
    display: grid;
    top: 0;
    right: 0;
    border-radius: 0.8rem;

    @include respond(phone) {
      top: calc(100% / 3 * 2);
      width: 100%;
      height: calc(132.6 / 3 * 1rem);
    }

    &--content {
      display: grid;
      padding: 4.8rem 0 4.8rem 4.8rem;

      &-icon {
        margin-bottom: -1rem;

        @include respond(phone) {
          margin-bottom: 1.5rem;
        }
      }
      &-headline {
        margin-bottom: -1.5rem;

        @include respond(phone) {
          margin-bottom: 1.5rem;
        }
      }

      &-btn {
        color: $color-cyan-dark;
        align-self: end;
      }
    }
  }
}
