*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "$font-primary", sans-serif;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.8rem;
  color: #f2f2f2;
  font-family: "Big Shoulders Display";
}

p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  color: rgba(255, 255, 255, 0.7490196078);
}

.btn {
  width: 14.6rem;
  height: 4.8rem;
  background-color: #f2f2f2;
  border-radius: 2.5rem;
  border: 2px solid white;
  transition: all 0.2s;
  cursor: url(../images/Pointer.svg), auto;
}
.btn:hover {
  background-color: transparent;
  color: white;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

.card {
  width: 92rem;
  height: 50rem;
  border-radius: 0.8rem;
  margin: 17rem auto;
  overflow: hidden;
  position: relative;
}
@media (max-width: 920px) {
  .card {
    max-width: 32.7rem;
    height: 132.6rem;
    margin: 8.8rem auto;
  }
}
.card__sedans {
  background-color: #e38826;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 920px) {
  .card__sedans {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}
.card__sedans--content {
  display: grid;
  padding: 4.8rem 0 4.8rem 4.8rem;
}
.card__sedans--content-icon {
  margin-bottom: -1rem;
}
@media (max-width: 920px) {
  .card__sedans--content-icon {
    margin-bottom: 1.5rem;
  }
}
.card__sedans--content-headline {
  margin-bottom: -1.5rem;
}
@media (max-width: 920px) {
  .card__sedans--content-headline {
    margin-bottom: 1.5rem;
  }
}
.card__sedans--content-btn {
  color: #e38826;
  align-self: end;
}
.card__suvs {
  position: absolute;
  background-color: #006970;
  height: 100%;
  width: 61.3333333333rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  top: 0;
  right: 0;
  border-radius: 0.8rem;
}
@media (max-width: 920px) {
  .card__suvs {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    height: 88.4rem;
    top: 33.3333333333%;
  }
}
.card__suvs--content {
  display: grid;
  padding: 4.8rem 0 4.8rem 4.8rem;
}
.card__suvs--content-icon {
  margin-bottom: -1rem;
}
@media (max-width: 920px) {
  .card__suvs--content-icon {
    margin-bottom: 1.5rem;
  }
}
.card__suvs--content-headline {
  margin-bottom: -1.5rem;
}
@media (max-width: 920px) {
  .card__suvs--content-headline {
    margin-bottom: 1.5rem;
  }
}
.card__suvs--content-btn {
  color: #006970;
  align-self: end;
}
.card__luxury {
  position: absolute;
  background-color: #004241;
  height: 100%;
  width: 30.6666666667rem;
  display: grid;
  top: 0;
  right: 0;
  border-radius: 0.8rem;
}
@media (max-width: 920px) {
  .card__luxury {
    top: 66.6666666667%;
    width: 100%;
    height: 44.2rem;
  }
}
.card__luxury--content {
  display: grid;
  padding: 4.8rem 0 4.8rem 4.8rem;
}
.card__luxury--content-icon {
  margin-bottom: -1rem;
}
@media (max-width: 920px) {
  .card__luxury--content-icon {
    margin-bottom: 1.5rem;
  }
}
.card__luxury--content-headline {
  margin-bottom: -1.5rem;
}
@media (max-width: 920px) {
  .card__luxury--content-headline {
    margin-bottom: 1.5rem;
  }
}
.card__luxury--content-btn {
  color: #004241;
  align-self: end;
}/*# sourceMappingURL=main.css.map */